server.port=8080

quarkus.datasource.db-kind=oracle
quarkus.datasource.jdbc.url=jdbc:oracle:thin:@//localhost:1521/FoodPDB
quarkus.datasource.username=YOUR_DB_USERNAME
quarkus.datasource.password=YOUR_DB_PASSWORD

# Flyway Configuration
quarkus.flyway.baseline-on-migrate=true
quarkus.flyway.baseline-version=1
quarkus.flyway.migrate-at-start=true
quarkus.flyway.clean-at-start=false
quarkus.flyway.repair-at-start=true
quarkus.hibernate-orm.management.strategy=none
quarkus.hibernate-orm.log.sql=true

# Local embedding model
quarkus.langchain4j.embedding-model.provider=dev.langchain4j.model.embedding.onnx.allminilml6v2.AllMiniLmL6V2EmbeddingModel

# IBM watsonx Configuration
# quarkus-langchain4j-watsonx
quarkus.langchain4j.watsonx.base-url=https://us-south.ml.cloud.ibm.com
quarkus.langchain4j.watsonx.api-key=YOUR_WATSONX_API_KEY
quarkus.langchain4j.watsonx.project-id=YOUR_WATSONX_PROJECT_ID
quarkus.langchain4j.watsonx.chat-model.model-id=ibm/granite-3-8b-instruct

# IBM Watsonx Project ID
ibm.watsonx.project-id=YOUR_WATSONX_PROJECT_ID

# IBM Watsonx API Key
ibm.watsonx.api-key=YOUR_WATSONX_API_KEY

# Rest Client URL
quarkus.rest-client.watsonx-api.url=https://us-south.ml.cloud.ibm.com